<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>data</title>
  </head>
  <body>
    <div class="container mt-2 container-fluid">
      <div class="card">
        <div class="card-body">
          <div class="container-fluid mt-2">
            <img
              src="assets/a.jpg"
              class="mx-auto d-block"
              style="width: 70%; height: 500px"
            />

            <div style="margin-top: -50px" class="row">
              <div class="row margin-left:100px;">
                <div class="col-sm-3 px-md-6">
                  <div class="p-3 bg-warning text-white" id="grad2">
                    <h3>Hello this</h3>
                    Custom column paddingCustom column paddingCustom column
                  </div>
                </div>
                <div class="col-sm-3 px-md-6">
                  <div class="p-3 bg-primary text-white" id="grad3">
                    <h3>Hello this</h3>
                    Custom column paddingCustom column paddingCustom column
                  </div>
                </div>
                <div class="col-sm-3 px-md-6">
                  <div class="p-3 bg-warning text-white" id="grad1">
                    <h3 >Hello this</h3>
                    Custom column paddingCustom column paddingCustom column
                  </div>
                </div>
                <div class="col-sm-3 px-md-6">
                  <div class="p-3 bg-primary text-white" id="grad3">
                    <h3>Hello this</h3>
                    Custom column paddingCustom column paddingCustom column
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
          <div class="container mt-4 ml-700px">
            <div class="row">
              <div class="card" style="width: 400px">
                <!-- <img class="card-img-top" src="../bootstrap4/img_avatar1.png" alt="Card image" style="width:100%"> -->
                <div class="card-body">
                  <h4 class="card-title">Welcome to your School</h4>
                  <p class="card-text">
                    
                    One of the biggest lessons for kids to get a grasp on is
                    cause and effect of the water. It's crucial that children
                    are aware of both the fun and danger associated with the
                    water.want them to be able to enjoy themselves in the water,
                    while also understanding the consequences of unsafe
                    practices in the water.
                  </p>
                  <a href="#" class="btn btn-success">Read More</a>
                </div>
              </div>
              <br />

              <div class="card" style="width: 400px">
                <div class="card-body"></div>
                <img
                  class="card-img-bottom"
                  src="assets/b.jpg"
                  alt="Card image"
                  style="width: 100%; height: 270px"
                />
              </div>
            </div>
          </div>
          <div class="container mt-3">
            <!-- <h2>Card Image</h2>
            <p>Image at the top (card-img-top):</p> -->
            <div class="row">
            <div class="card" style="width:400px">
              <img class="card-img-top" src="assets/c.jpg" alt="Card image"  style="width: 100%; height: 270px">
              <div class="card-body">
                <!-- <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                <a href="#" class="btn btn-primary">See Profile</a> -->
              </div>
            </div>
            <br>
            
           
            <div class="card" style="width:400px">
              <div class="card-body">
                <h4 class="card-title">Jane Doe</h4>
                <p class="card-text">One of the biggest lessons for kids to get a grasp on is
                    cause and effect of the water. It's crucial that children
                    are aware of both the fun and danger associated with the
                    water.want them to be able to enjoy themselves in the water,
                    while also understanding the consequences of unsafe
                    practices in the water.</p>
                <a href="#" class="btn btn-success">Read More</a>
              </div>
              
            </div>
            <div class="container mt-3">
                
                <div class="card img-fluid" style="border: 1px solid #fbfbfb;">
                  <img class="card-img-top" src="assets/d.jpg" alt="Card image" style="width:90%;height:345px;margin-top:0px;">
                  <div  class="card-img-overlay opacity-75" id="grad1" style="top:22px; right:741px; bottom: revert; left:40px;">
                  <h4 class="card-title" style="color:white;">Why Our Swimming School Is Rated #1 in The Region</h4>
                    <p class="card-text" style="color:white;">What are the important things in learning swimming?
                        One of the biggest lessons for kids to get a grasp on is cause and effect of the water. It's crucial that children are aware of both the fun and danger associated with the water. </p>
                    <a href="#" class="btn btn-primary">Know More</a>
                  </div>
                </div>
              </div>
    
              <div class="container mt-3">
                <div class="row">
                  <div class="card" style="width: 400px;margin-top: 0px;padding:0rem 0rem;">
                    <!-- <img class="card-img-top" src="../bootstrap4/img_avatar1.png" alt="Card image" style="width:100%"> -->
                    <div class="card-body" style="margin-top: 0px; background-color: coral;">
                      <h4 class="card-title" style="margin-top: 0px; background-color: coral;">Welcome to your School</h4>
                      <p class="card-text" style="margin-top: 0px; background-color: coral;">
                        One of the biggest lessons for kids to get a grasp on is
                        cause and effect of the water. It's crucial that children
                        are aware of both the fun and danger associated with the
                        water.want them to be able to enjoy themselves in the water,
                        while also understanding the consequences of unsafe
                        practices in the water.
                      </p>
                      <a href="#" class="btn btn-success">Read More</a>
                    </div>
                  </div>
                  <br />
    
                  <div class="card" style="width: 400px;margin-top:0px;padding:0rem 0rem;height:310px;margin-bottom:900px;border: 1px solid #fbfbfb;">
                    <div class="card-body"> </div>
                    <img
                      class="card-img-bottom"
                      src="assets/e.jpg"
                      alt="Card image"
                      style="width: 100%; height:296px;margin-top:-8%;"
                    />
                 
                  </div>
                </div>
              </div>
              
          
              <div class="row"style="margin-top:-67%;">
                
                <div class="col-sm-3 px-md-5">
                 
                  <div class="p-3 bg-warning text-white">
                    <img src="assets/a.jpg" class="rounded-circle mx-auto d-block" alt="Cinque Terre" style="width:100px; height:100px;margin-top:-48%;"> 
                    <h3>Hello this</h3>
                    Custom column paddingCustom column paddingCustom column
                  </div>
                </div>
                <div class="col-sm-3 px-md-5">
                  <div class="p-3 bg-primary text-white">
                    <img src="assets/b.jpg" class="rounded-circle mx-auto d-block" alt="Cinque Terre" style="width:100px; height:100px;margin-top:-48%;"> 
                    <h3>Hello this</h3>
                    Custom column paddingCustom column paddingCustom column
                  </div>
                </div>
                <div class="col-sm-3 px-md-5">
                  <div class="p-3 bg-warning text-white">
                    <img src="assets/c.jpg" class="rounded-circle mx-auto d-block" alt="Cinque Terre" style="width:100px; height:100px;margin-top:-48%;"> 
                    <h3>Hello this</h3>
                    Custom column paddingCustom column paddingCustom column
                  </div>
                </div>
                <div class="col-sm-3 px-md-5">
                  <div class="p-3 bg-primary text-white">
                    <img src="assets/d.jpg" class="rounded-circle mx-auto d-block" alt="Cinque Terre" style="width:100px; height:100px;margin-top:-48%;"> 
                    <h3>Hello this</h3>
                    Custom column paddingCustom column paddingCustom column
                  </div>
               
              </div>
            </div>
            <div class="container mt-3" >
              <div class="row" style="margin-top: -351px;">
                <div class="card" style="width: 400px;margin-top: 9px;padding:0rem 0rem;">
                  <!-- <img class="card-img-top" src="../bootstrap4/img_avatar1.png" alt="Card image" style="width:100%"> -->
                  <div class="card-body" style="margin-top: 0px; background-color: coral;">
                    <h4 class="card-title" style="margin-top: 0px; background-color: coral;">Welcome to your School</h4>
                    <p class="card-text" style="margin-top: 0px; background-color: coral;">
                      Ratnadeep Society Kashid Park,<br>
                      <i class="fa-solid fa-mobile-screen-button" >  
                      
                      </i>
                   
                      +91-9922678765<br>
                      <i class="fa-solid fa-square-envelope"></i>
                      Kavita1.kad@gmail.com<br>
                      
                      <i class="fa-brands fa-instagram-square"></i><br>
                      <i class="fa-brands fa-facebook"></i><br>
                      <i class="fa-brands fa-twitter-square"></i><br>
                      <i class="fa-brands fa-whatsapp-square"></i>
                
                    </p>
                    <a href="#" class="btn btn-success">Read More</a>
                    
                  </div>
                </div>
                <br />
  
                <div class="card" style="width: 400px;margin-top:0px;padding:0rem 0rem;height:310px;margin-bottom:900px;border: 1px solid #fbfbfb;">
                  <div class="card-body"> </div>
                  <iframe
                    class="card-img-bottom"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15133.900079783725!2d73.84792167566656!3d18.507424148664832!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c06de0ef2701%3A0x5cb8e4151d18a43a!2sShukrawar%20Peth%2C%20Pune%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1652692913520!5m2!1sen!2sin" style="width: 100%; height:296px;margin-top:-900px;"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    
                </div>
              </div>
            </div>
            
            
          </div>
          </div>
        </div>
        
     
      
    </div>
  </body>
</html>
